@import 'config';
@import 'menu';
@import 'modal';


* {
    box-sizing: border-box;
}

body {
    @include background;
    background: darken($primary-color,1);
    color: set-text-color($primary-color);
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-display: auto;
    line-height: 1.5;

    #particles-js{
        position: absolute;
        overflow: hidden;
        height: 100%;
        width: 100%;
        z-index: 3;
    }
}

//headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 5rem;
        animation: fadeRight 2.5s ease-out;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 0), 0.1);
        animation: fadeRight 2.5s ease-out;
    }
}

// links

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
}

.text-secondary {
    color:$secondary-color;
}

main {
    padding: 2rem;
    min-height: calc(100vh - 60px);
    
    .icons {
        position: absolute;
        z-index: 3;
        justify-content: center;
        margin-top: 1rem;
        animation: ease-in;
        animation: 3s ease-out pulse;
        

        &.show {
            visibility: hidden;
        }

        a {
         padding: 0.4rem;

         &:hover {
          color: $secondary-color;
          @include easeOut();
         }
        }
    }
    // separar  camilo castillo del top de la pagina
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

//About Me

.about-info {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 4px solid;
    }
    
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .job-1 {
        grid-area: job1
    }
    .job-2 {
        grid-area: job2
    }
    .job-3{
        grid-area: job3
    }
    
    .job {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}

// ===================
// Portfolio
// ===================

.projects {
    width: 100%;
    max-width: 1500px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(calc(9vw + 9vh),1fr));
    grid-auto-flow: row dense;
    
    

    img {
        width: 100%;
        opacity: 1;
        transition: .5s ease;
        backface-visibility: hidden;
        height: 100%;
        border-radius: 2px; 

        &:hover {
            transform:scale(1.3);
            box-shadow: 0 0 15px $secondary-color;
            @include easeOut;
        }
    }

    .item{        
        overflow: hidden;
        
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 15px $secondary-color;
            @include easeOut;
            filter: opacity(.5);

        }

        &:hover .item-text{
            transform: translateY(0);
            @include easeOut;
        }
    }

    .item-text {
        position: fixed;
        width: 100%;
        bottom: 0;
        padding: 10px; 


        background: rgba(0, 0, 0, .7);
        color: thrid-color;

        transform: translateY(100%);
       

        p{
            text-align: justify;
        }
    }

    

    .item:first-child {
        grid-row-start: span 3;
        grid-column-start: span 3;	
      }
    .item:nth-child(2n+3) {
        grid-row-start: span 4;
        grid-column-start: span 3;
    }
    .item:nth-child(4n+5) {
        grid-column-start: span 3;
        grid-row-start: span 3;
      }

    .item:nth-child(6n+7) {
        grid-row-start: span 3;
        grid-column-start: span 2;
      }
    .item:nth-child(8n+9) {
        grid-column-start: span 3;
        grid-row-start: span 3;
      }
}
// ===================
// Certificaciones
// ===================

.about-info {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, minmax(100px, 349px));
    
    .cer {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 3px solid;

        &a{
            width: 100%;
            height: 100%;
        }

        &:hover {
            transform: translate(0, -8px);
            border-bottom: $secondary-color 2px solid;
            box-shadow: 0px 3px 0px 0px lighten($secondary-color, 20);
            background: lighten($primary-color, 20);
            cursor: pointer;
            @include easeOut;
        }
    }
}

// ===================
// Contacto
// ===================

form {
    width: 450px;
    margin: auto;
    z-index: 4;
    background: rgba($third-color, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;

    h2{
        font-size: 3rem;
        text-align: center;
        margin: 0;
        margin-bottom: 20px
    }
    
    input, textarea {
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px; 
        border: none;
        border-radius: 15px;
    }

    textarea {
        min-width: 100px;
        max-height: 200px;
        max-width: 100%;
    }

    #button-form {
        background:$secondary-color;
        padding: 20px;
        border-radius: 15px;

        &:hover {
            cursor: pointer;
            background: darken($secondary-color, 20)
        }
    }
}







@import 'mobile';
@import 'footer';



